<div class="row text-center">
    <div class="container">
        <!-- <h2 class="section-heading">Home</h2>
        <h3 class="section-subheading text-muted">Hello <strong>{{ main.username || "user" }}, </strong> Welcome to the MEAN Stack Tutorial Application.</h3> -->
         <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">New Arrivals</h1>
            </div>
           </div>

            <div class="row display-flex">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/hghouse.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Hogwarts House</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/thanks.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Thank you</h4>
            <p>Rs.900</p>
            </div>
                </a>
             </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/tshirt.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Problem</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/music.jpg" width="460px" height="543px">
            <div class="caption">
                <h4>Music</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product.png" width="460px" height="543px">
            <div class="caption">
                <h4>Music</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product1.png" width="460px" height="543px">
            <div class="caption">
                <h4>Cartoon</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product2.png" width="460px" height="543px">
            <div class="caption">
                <h4>Shape of you</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/images/product3.png" width="460px" height="543px">
            <div class="caption">
                <h4>Moustache</h4>
            <p>Rs.800</p>
            </div>
                </a>
             </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMwIFgQ6FtgD4m8P8WkeJrEc_UxW7IlnY7oglm-FWSNqOpxuOz" width="460px" height="560px">
            <div class="caption">
            	<h4>Devil</h4>
            <p>Rs.1000</p>
            </div>
                </a>
             </div>
            </div>

          <!--   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIUDMPwGJ3wUfMmRTqCMRkvSbleEsET85P6M0OIw_lRV7FMsJ1" alt="">
                    <div class="caption">
                    	<h4>Love Apple</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
             </div>
            </div> -->

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://c1.staticflickr.com/4/3507/4075738698_cc6aaf0648.jpg" alt="">
                    <div class="caption">
                    	<h4>Heart</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmb2OI59QhLJvX75TOVvxVoVxBbSlSmWq7NizwWQYkM2cU38CC" alt="">
                    <div class="caption">
                    	<h4>Cartoon</h4>
            		<p>Rs.1000</p>
                    </div>
             	</a>
            </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div>
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYf1tKd_rxNB2tziEpOboWJXIJpVFlBzLQKrAf0KgnKOfIY08k" alt="">
                    <div class="caption">
                    	<h4>Plain</h4>
            		<p>Rs.1000</p>
                    </div>
                </a>
                </div>
            </div>
		</div>
    </div>
</div>
